<div>
  <div class="alert alert-success"> <strong>Well done!</strong>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    You successfully read
    <a href="#" class="alert-link">this important alert message</a>
    .
  </div>
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Heads up!</strong>
    This
    <a href="#" class="alert-link">alert needs your attention</a>
    , but it's not super important.
  </div>
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong>
    Best check yo self, you're
    <a href="#" class="alert-link">not looking too good</a>
    .
  </div>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Oh snap!</strong>
    <a href="#" class="alert-link">Change a few things up</a>
    and try submitting again.
  </div>
</div>