<p class="lead">
	Vivamus sagittis lacus vel augue laoreet
	<small>rutrum</small>
	faucibus <strong>dolor</strong>
	auctor. <em>Duis</em>
	mollis, est non commodo luctus.
</p>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
<p class="text-info">
	Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
</p>
<p class="text-success">
	Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
</p>
<address> <strong>Twitter, Inc.</strong>
	<br>
	795 Folsom Ave, Suite 600
	<br>
	San Francisco, CA 94107
	<br> <abbr title="Phone">P:</abbr>
	(123) 456-7890
</address>