<p>
	<button class="btn btn-large btn-primary" type="button">Large button</button>
	<button class="btn btn-large" type="button">Large button</button>
</p>
<p>
	<button class="btn btn-primary" type="button">Default button</button>
	<button class="btn" type="button">Default button</button>
</p>
<p>
	<button class="btn btn-small btn-primary" type="button">Small button</button>
	<button class="btn btn-small" type="button">Small button</button>
</p>
<p>
	<button class="btn btn-mini btn-primary" type="button">Mini button</button>
	<button class="btn btn-mini" type="button">Mini button</button>
</p>