<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style = "display:block; position: relative">
	<li>
		<a tabindex="-1" href="#">Action</a>
	</li>
	<li>
		<a tabindex="-1" href="#">Another action</a>
	</li>
	<li>
		<a tabindex="-1" href="#">Something else here</a>
	</li>
	<li class="divider"></li>
	<li>
		<a tabindex="-1" href="#">Separated link</a>
	</li>
	<li>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li>
				<a tabindex="-1" href="#">Regular link</a>
			</li>
			<li class="disabled">
				<a tabindex="-1" href="#">Disabled link</a>
			</li>
			<li>
				<a tabindex="-1" href="#">Another link</a>
			</li>
		</ul>
	</li>
	<li class="disabled">
		<a tabindex="-1" href="#">Disabled link</a>
	</li>
</ul>