<form class="form-search">
	<input type="text" class="input-medium search-query">
	<button type="submit" class="btn">Search</button>
</form>
<form class="form-inline">
	<div class="input-prepend input-append">
		<span class="add-on">$</span>
		<input class="span2" id="appendedPrependedInput" type="text">
		<span class="add-on">.00</span>
	</div>
	<input type="password" class="input-small" placeholder="Password">
	<label class="checkbox">
		<input type="checkbox">Remember me</label>
	<button type="submit" class="btn">Sign in</button>
</form>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputEmail">Email</label>
		<div class="controls">
			<input type="text" id="inputEmail" placeholder="Email"></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="password" id="inputPassword" placeholder="Password">
			<span class="help-inline">Inline help text</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox">Remember me</label>
			<select multiple="multiple">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			<button type="submit" class="btn">Sign in</button>
		</div>
	</div>
</form>
<div class="control-group warning">
	<label class="control-label" for="inputWarning">Input with warning</label>
	<div class="controls">
		<input type="text" id="inputWarning">
		<span class="help-inline">Something may have gone wrong</span>
	</div>
</div>

<div class="control-group error">
	<label class="control-label" for="inputError">Input with error</label>
	<div class="controls">
		<input type="text" id="inputError">
		<span class="help-inline">Please correct the error</span>
	</div>
</div>

<div class="control-group info">
	<label class="control-label" for="inputInfo">Input with info</label>
	<div class="controls">
		<input type="text" id="inputInfo">
		<span class="help-inline">Username is already taken</span>
	</div>
</div>

<div class="control-group success">
	<label class="control-label" for="inputSuccess">Input with success</label>
	<div class="controls">
		<input type="text" id="inputSuccess">
		<span class="help-inline">Woohoo!</span>
	</div>
</div>